
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
    font-size: 16px;
}

.dark {
}


:is(h1,h2,h3,h4,h5,h6){
    font-weight: normal;
}


.meta {
    color: #b1b0b2;
    font-size: 0.8rem;
}

#status {
    font-size: 0.8rem;
}

i {
    color: #51585c;
    font-size: 1.1rem;
}

#notifications a {
    font-size: 0.85rem;
    color: #888;
}

.latest-access {
    font-size: 0.9rem;
}

.container {
    width: 80%;
    max-width: 1370px;
    margin: 0 auto;
}

.left {
    width: 32%;
    height: 100%;
}

.right {
    width: 68%;
    height: 100%;
}


main .container {
    height: 95vh;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

main header {
    background-color: #ebeaec;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}


#myapp > header {
    min-height: 13vh;
    background-color: #00988b;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 87vh;
    background-color: #dcdad4;
}



header .container {
    display: flex;
    align-items: stretch;
}

header .container > div {

    background-color: #ebeaec;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .left {
    border-right: 1px solid #ccc;
}

#username {
    font-family: "Helvetica Neue";
    font-weight: bold;
}

aside ul {
    padding-left: 0;
    list-style: none;
}

.options {
    float: right;
}

.options i {
    cursor: pointer;
    margin: 0 10px;
}

.options i:hover {
    color: black;
}


.user-panel-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.user-info {
    display: flex;
    align-items: center;
}

.img-box {
    border-radius: 50%;
    border: 1px solid #ddd;
    width: 50px;
    height: 50px;
    overflow: hidden;
    line-height: 50px;
    text-align: center;
    background-color: white;
    margin: 0 5px;
    flex-shrink: 0;
}

.img-box img {
    height: 100%;
    object-fit: cover;
}

.img-box i {
    width: 50px;
}


#user-panel {
    position: relative;
}


#chat-panel {
    margin-bottom: 12px;
}
#chat-list {
    width: 100%;
    background-color: white;
}

#notifications {
    background-color: #8dd9f9;
    width: 100%;
}

#notifications i {
    color: #8dd9f9;
}

.chat {
    float: right;
    height: 200px;
    background-color: red;
    width: 100%;
}


#chat-list, #chat {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}


#chat {
    float: right;
    padding: 10px 10px 0 10px;
    background: rgba(229, 221, 213, 1);
    position: relative;
    z-index: 2;
    height: calc(100% - 112px + 20px);
}

#chat::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url(img/bg-chat-tile-light.png);
    background-size: contain;
    background-repeat: repeat;
}


#chat-list .entry {
    display: flex;
    align-items: center;
    padding: 10px;
}



main .left {
    height: 100%;
    background-color: white;
}

main .container {
    display: flex;
}

#chat-search input {
    border: none;
    flex-grow: 2;
    padding-left: 10px;
}

.input-box {
    display: flex;
    padding: 2px;
    background-color: #f5f5f5;
    height: 2.7rem;
    flex-grow: 2;
}

.input-box label {
    background-color: white;
    padding: 0 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.entry.active {
    background-color: #eaebec;
}


#input-bar {
    background-color: #f4edeb;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 7px 20px;
    width: 100%;
}

#input-bar input{
    height: 2.3rem;
    border-radius: 4px;
    border: 1px solid #dfdfdf;
    font-size: 1rem;
    width: 100%;
    padding: 0 5px;
    margin: 0 2.5%;
}

#input-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#input-bar i{
    font-size: 150%;
    cursor: pointer;
}

#input-bar i:hover{
    color: black;
}


.messages {
    margin: 10px 5% 0 5%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 50px);
    z-index: 2;
}

.message {
    background-color: red;
    color: black;
    max-width: 58%;
    min-height: 3.5rem;
    margin: 2px 3rem;
    padding: 1rem 1.5rem 1rem 1rem;
    min-width: 250px;
    word-break: break-word;
    border-radius: 8px;
    box-shadow: 1px 1px 1px #bbb;
    cursor: pointer;
    position: relative;
}

.message:last-child {
    margin-bottom: 50px;
}

.message.sent{
    clear: both;
    float: right;
    background-color: #d4fbc4;
}

.message.received {
    clear: both;
    float: left;
    background-color: #fffeff;
}

.message-preview {
    font-size: 0.9rem;
    line-height: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
}




.entry .text {

}



.message time {
    position: absolute;
    bottom: 0;
    right: 5px;
}

.message .meta {
    font-size: 0.8rem;
}

.status {
    font-size: 0.8rem;
    color: #51585c;
}

.entry .img-box {
}

.entry-info{
    flex-grow: 2;
    position: relative;
    height: 50px;
    overflow: hidden;
}

.entry-info time {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 0.8rem;
}

.entry {
    border-bottom: 1px solid #eee;
}

li.entry {
    cursor: pointer;
}

li.entry:not(.active):hover {
    background-color: #f6f6f6;
}


.container{
    box-shadow: 2px 2px 2px #bbb;
}



.rotated {
    transform: rotate(50deg);
}


.message.sent:first-of-type::after, .message.received + .message.sent::after{
    content: "";
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 10px solid #d4fbc4;
    border-bottom: 7px solid transparent;
    margin-left: 10px;
    position: absolute;
    float: right !important;
    right: -5px;
    top: -2px;
    transform: rotate(90deg);
    border-radius: 3px;
} 


.message.received:first-of-type::after, .message.sent + .message.received::after{
    content: "";
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 10px solid white;
    border-bottom: 7px solid transparent;
    margin-left: 10px;
    position: absolute;
    float: right;
    left: -15px;
    top: -2px;
    transform: rotate(90deg);
    border-radius: 3px;
} 

.dropdown {
    display: none;
    position: fixed;
    z-index: 999;
    width: max-content;
    background: white;
    opacity: 0.97;
    list-style: none;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26),0 2px 10px 0 rgba(0,0,0,.16);
    padding: 5px 0;
    cursor: pointer;
}

.dropdown.show {
    display: block;
}

.dropdown li {
    height: 50%;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.dropdown li:hover {
    background-color: #f6f6f6;
}


.message .text {
    width: 100%;
    display: inline-block;
}

.message-options {
    width: 1.4rem;
    position: absolute;
    top: 10px;
    right: 0;
}

.options-icon {
    visibility: hidden;
    color: #c4bdb7;
    display: inline-block;
    text-align: center;
    font-size: 1.1rem;
}

/* .message-options:hover .dropdown, .dropdown:hover {
    display: block;
}

.message:hover .options-icon {
    visibility: visible;
} */


.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    background-color: white;
    text-align: center;
    width: 100%;
    border-bottom: 4px solid #0aa545;
}

.intro h1 {
    padding: 1rem;
    font-size: 36px;
    color: #525252;
    font-weight: 300;
    outline: none;
}

.intro span {
    color: rgba(0,0,0,0.45);
    font-size: 0.9rem;
}

.intro-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 60%;
}

.img-box.big {
    width: max-content;
    height: max-content;
    border: none;
}

.intro .download {
    border-top: 1px solid #ddd;
    margin: 3rem 0 1rem 0;
    padding: 1rem;
    line-height: 2rem;
    height: 2rem;
}

.intro .download a {
    color: #0aa545;
    text-decoration: none;
}





.dark .intro {
    background-color: #262d31;
    color: white;
    border-bottom: 4px solid #00988b;
}

.dark .container header {
    background-color: #262d31;
}

.dark .container {
    border: none;
    box-shadow: none;
}

.dark main .left {
    border-right: 1px solid #555;
}

.dark main {
    background-color: black;
}

.dark .left:not(header), .dark aside#chat-list {
    background-color: #131c21;
}

.dark .intro .img-box {

}

.dark .entry-name {
    color: white;
}

.dark .intro h1 {
    color: white;
}

.dark .intro span {
    color: #a6a8ab;
}

.dark .intro a {
    color: #00af9c;
}

.dark header {
    background-color: #262d31
}

.dark .input-box {
    background-color: black;
}

.dark .input-box > * {
    background-color: #323739;
}

.dark .message {
    color: white;
    box-shadow: 1px 1px 1px #444;
}

.dark .message.sent {
    background-color:#056162;
}

.dark .message.sent:first-of-type::after, .dark .message.received + .message.sent::after {
    border-left-color: #056162;
}

.dark .message.received {
    background-color: #262d31;
}

.dark .message.received:first-of-type::after, .dark .message.sent + .message.received::after {
    border-left-color: #262d31;
}

.dark .entry {
    border-bottom: 1px solid #555;
}

.dark .dropdown {
    background-color: #2a2f32;
    color: #b1b3b5;
}

.dark .dropdown li:hover {
    background-color: #090e11;
}


.dark li.entry:not(.active):hover {
    background-color: #2a2f32;
}

.dark li.entry.active {
    background-color: #323739;
}

.dark i{
    color: #b1b3b5;
}

.dark #input-bar {
    background: #1e2428;
}

.dark #input-bar input {
    background: #33383b;
    border: none;
}

.dark #chat {
    background-color: #131c21;
}

.dark #chat::before {
    filter: invert(100%);
    opacity: 0.05;
}

.dark input {
    color: white;
}

.dark input::placeholder {
    color: #b1b3b5;
}

.dark .username {
    color: white;
}