
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
    font-size: 16px;
}

:is(h1,h2,h3,h4,h5,h6){
    font-weight: normal;
}


.meta {
    color: #b1b0b2;
}

i {
    color: #51585c;
    font-size: 1.1rem;
}

#notifications a {
    font-size: 0.85rem;
    color: #888;
}

.latest-access {
    font-size: 0.9rem;
}

.container {
    width: 80%;
    max-width: 1270px;
    margin: 0 auto;
}

.left {
    width: 32%;
}

.right {
    width: 68%;
}

header {
    min-height: 13vh;
    background-color: #00988b;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 87vh;
    background-color: #dcdad4;
}



header .container {
    display: flex;
    align-items: stretch;
}

header .container > div {

    background-color: #ebeaec;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .left, main .left {
    border-right: 1px solid #ccc;
}

#username {
    font-family: "Helvetica Neue";
    font-weight: bold;
}

aside ul {
    padding-left: 0;
    list-style: none;
}

.options {
    float: right;
}

.options i {
    cursor: pointer;
    margin: 0 5px;
}

.options i:hover {
    color: black;
}


.user-panel-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.user-info {
    display: flex;
    align-items: center;
}

.img-box {
    border-radius: 50%;
    border: 1px solid #ddd;
    width: 50px;
    height: 50px;
    overflow: hidden;
    line-height: 50px;
    text-align: center;
    background-color: white;
    margin: 0 5px;
}

.img-box img {
    height: 100%;
    object-fit: cover;
}

.img-box i {
    width: 50px;
}


#user-panel {
    position: relative;
}

#chat-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
}

#notifications {
    background-color: #8dd9f9;
    width: 100%;
}

#notifications i {
    color: #8dd9f9;
}

.chat {
    float: right;
    height: 200px;
    background-color: red;
    width: 100%;
}

.height-stretch {
    height: 85vh;
}

#chat-list, #chat {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}


#chat {
    float: right;
    padding: 10px;
    background: rgba(229, 221, 213, 1);
    position: relative;
}

#chat::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url(img/bg-chat-tile-light.png);
    background-size: contain;
    background-repeat: repeat;
}


#chat-list .entry {
    display: flex;
    align-items: center;
    padding: 10px;
}



main .left {
    height: 100%;
    background-color: white;
}

main .container {
    height: 85vh;
    display: flex;
}

#chat-search input {
    border: none;
    flex-grow: 2;
    padding-left: 10px;
}

.input-box {
    display: flex;
    padding: 7px;
    background-color: #f5f5f5;
    height: 2.7rem;
}

.input-box label {
    background-color: white;
    padding: 0 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

li.entry.active {
    background-color: #eaebec;
}


#input-bar {
    background-color: #f4edeb;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 7px 20px;
    width: 100%;
}

#input-bar input{
    height: 2.3rem;
    border-radius: 4px;
    border: 1px solid #dfdfdf;
    font-size: 1rem;
    width: 100%;
    padding: 0 5px;
    margin: 0 2.5%;
}

#input-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#input-bar i{
    font-size: 150%;
    cursor: pointer;
}

#input-bar i:hover{
    color: black;
}


.messages {
    margin: 10px 5% 50px 5%;
    position: relative;
    overflow: auto;
}

.message {
    background-color: red;
    color: black;
    min-height: 3.5rem;
    border-radius: 8px;
    padding: 1rem;
    max-width: 58%;
    min-width: 250px;
    position: relative;
    word-break: break-word;
    margin: 0.5rem 3rem;
    text-align: justify;
}

.message.sent{
    clear: both;
    float: right;
    background-color: #d4fbc4;
}

.message.received {
    clear: both;
    float: left;
    background-color: #fffeff;
}

.message-preview {
    font-size: 0.9rem;
    text-overflow: ellipsis;
}




.entry .text {

}



.message time {
    position: absolute;
    bottom: 0;
    right: 5px;
}

.message .meta {
    font-size: 0.8rem;
}

.entry .img-box {
}

.entry-info{
    flex-grow: 2;
    position: relative;
    height: 50px;
}

.entry-info time {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 0.8rem;
}


li.entry {
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

li.entry:not(.active):hover {
    background-color: #f6f6f6;
}


.container{
    box-shadow: 2px 2px 2px #bbb;
}



.rotated {
    transform: rotate(50deg);
}


